<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Contact.css">
</head>
<body>
    <div class="a">
        <div class="a1">
            <h2 class="a11">Contact</h2>
            <nav class="a12">
                <li>
                    <a href="../firstPage/home.html">Home</a>
                </li>
            </nav>
        </div>
        <div class="a2">
            <div class="a21">
                <h3>Xin Huang</h3>
                <p class="text">
                    x.huang3.21@abdn.ac.uk 
                </p>
                <h3>Duomi Huang</h3>
                <p class="text">
                    u04dh21@abdn.ac.uk
                </p>
                <h3>Lixin Zhu</h3>
                <p class="text">
                    u02lz21@abdn.ac.uk
                </p>
                <h3>Yinyi Liu</h3>
                <p class="text">
                    u19yl21@abdn.ac.uk
                </p>
                <h3>Reitao Wang</h3>
                <p class="text">
                    u12rw21@abdn.ac.uk
                </p>
                <h3>Jiaxu Li</h3>
                <p class="text">
                    u25jl21@abdn.ac.uk
                </p>
                <h3>Zhongran Liang</h3>
                <p class="text">
                    u08zl21@abdn.ac.uk
                </p>

            </div>
        </div>
        <div class="a3">
            <div class="a31">
                <p>to learn more<a href="#"> click me</a>, by <a href="#"> Team2</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>