<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondPage</title>
    <link rel="stylesheet" href="../static/Roommates%20Matchiing2.1.css">
</head>
<body>
<div class="a">
    <div class="a1">
        <h3 class="a11">Questions</h3>
        <nav class="a12">
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a href="../featuresPage/Features.html">Features</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </nav>
    </div>

    <hr width="56%">
    <div class="a2">
        <form action="" name="f">
            <div class="questionBox">
                <div class="key">
                    1.您的性别：
                </div>
                <div class="key">
                    <label for="1.1">男</label><input type="radio" name="gender" value="male" id = "1.1">
                </div>
                <div class="key">
                    <label for="1.2">女</label><input type="radio" name="gender" value="female" id = "1.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    2.您的作息习惯是：
                </div>
                <div class="key">
                    <label for="2.1">早睡早起</label><input type="radio" name="zuoxi" value="早睡早起" id="2.1">
                </div>
                <div class="key">
                    <label for="2.2">早睡晚起</label><input type="radio" name="zuoxi" value="早睡晚起" id="2.2">
                </div>
                <div class="key">
                    <label for="2.3">晚睡早起</label><input type="radio" name="zuoxi" value="晚睡早起" id="2.3">
                </div>
                <div class="key">
                    <label for="2.4">晚睡晚起</label><input type="radio" name="zuoxi" value="晚睡晚起" id="2.4">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    3.您的社交状态：
                </div>
                <div class="key">
                    <label for="3.1">社牛型</label><input type="radio" name="shejiao" value="社牛型" id="3.1">
                </div>
                <div class="key">
                    <label for="3.2">社恐型</label><input type="radio" name="shejiao" value="社恐型" id="3.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    4.您是否有洁癖？
                </div>
                <div class="key">
                    <label for="4.1">是</label><input type="radio" name="ganjing" value="有洁癖" id="4.1">
                </div>
                <div class="key">
                    <label for="4.2">否</label><input type="radio" name="ganjing" value="无洁癖" id="4.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    5.您是否有抽烟习惯？
                </div>
                <div class="key">
                    <label for="5.1">是</label><input type="radio" name="chouyan" value="抽烟" id="5.1">
                </div>
                <div class="key">
                    <label for="5.2">否</label><input type="radio" name="chouyan" value="不抽烟" id="5.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    6.您是否在睡觉时打呼噜？
                </div>
                <div class="key">
                    <label for="6.1">是</label><input type="radio" name="hulu" value="打呼噜" id="6.1">
                </div>
                <div class="key">
                    <label for="6.2">否</label><input type="radio" name="hulu" value="不打呼噜" id="6.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    7.您是否对舍友的呼噜感到困扰或难以入睡？
                </div>
                <div class="key">
                    <label for="7.1">是</label><input type="radio" name="rshulu" value="能忍受呼噜" id="7.1">
                </div>
                <div class="key">
                    <label for="7.2">否</label><input type="radio" name="rshulu" value="不能忍受呼噜" id="7.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    8.您是否在睡觉时磨牙？
                </div>
                <div class="key">
                    <label for="8.1">是</label><input type="radio" name="moya" value="磨牙" id="8.1">
                </div>
                <div class="key">
                    <label for="8.2">否</label><input type="radio" name="moya" value="不磨牙" id="8.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    9.您是否能接受榴莲、螺狮粉等刺激气味食品？
                </div>
                <div class="key">
                    <label for="9.1">是</label><input type="radio" name="shiwu" value="接受刺激食物" id="9.1">
                </div>
                <div class="key">
                    <label for="9.2">否</label><input type="radio" name="shiwu" value="不接受刺激食物"id="9.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    10.您的兴趣爱好偏向？
                </div>
                <div class="key">
                    <label for="10.1">偏静型（看书、画画等）</label><input type="radio" name="aihao" value="偏静型（看书、画画等）" id="10.1">
                </div>
                <div class="key">
                    <label for="10.2">偏动型（体育运动等）</label><input type="radio" name="aihao" value="偏动型（体育运动等）" id="10.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    11.您现在未来的规划是？
                </div>
                <div class="key">
                    <label for="11.1">保研</label><input type="radio" name="guihua" value="保研" id="11.1">
                </div>
                <div class="key">
                    <label for="11.2">考研</label><input type="radio" name="guihua" value="考研" id="11.2">
                </div>
                <div class="key">
                    <label for="11.3">出国留学</label><input type="radio" name="guihua" value="出国留学" id="11.3">
                </div>
                <div class="key">
                    <label for="11.4">工作</label><input type="radio" name="guihua" value="工作" id="11.4">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    12.您是否游玩电子游戏？
                </div>
                <div class="key">
                    <label for="12.1">是</label><input type="radio" name="game" value="打电子游戏" id="12.1">
                </div>
                <div class="key">
                    <label for="12.2">否</label><input type="radio" name="game" value="不打电子游戏" id="12.2">
                </div>
            </div>
            <div class="confirmBox">
                <div class="key">
                    <input type="reset" value="重置" class="inKey" onclick="tijiao()"/>
                </div>
                <div class="key">
                    <input type="submit" value="提交" class="inKey">
                </div>
            </div>
        </form>

    </div>
    <hr width="56%">
    <div class="a3">
        <div class="a31">
            <p>to learn more<a href="#"> click me</a>, by <a href="#"> Team2</a>.</p>
        </div>
    </div>

</div>

<script language="JavaScript">
    //声明一个提交方法
    function tijiao() {


        //性别
        var gendervalue = f.gender.value;

        //作息
        var zuoxivalue = f.zuoxi.value;

        //社交
        var shejiaovalue = f.shejiao.value;


        //获取到每个值之后，借助于框架来传递
        //借助于框架进行传递XMLHttpRequest 对象用于在后台与服务器交换数据
        url = 'http://127.0.0.1:5000/add'
        var request = new XMLHttpRequest()
        request.open('post', url, true)
        request.onload = function () {
            resp_text = request.responseText
            print(resp_text)
        }
        var formdata = new FormData()
        formdata.append('性别', gendervalue)
        formdata.append('作息', zuoxivalue)
        formdata.append('社交', shejiaovalue)
        request.send(formdata)

    }

</script>




</body>
</html>