<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../static/complete.css">
<body>
    <div class="a">
        <div class="a1">
        </div>
        <div class="a2">
            <p class="text1">Thanks for your participation!</p>
            <p class="text2">Here is the <a href="../templates/result.html">result</a></p>
        </div>
        <div class="a3">
            <div class="a31">
                <p>to go home?<a href="../templates/home.html"> click me</a>, by <a href="Contact.html"> Team2</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>