<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/feature.css">
</head>
<body>
    <div class="a">
        <div class="a1">
            <h2 class="a11">Features</h2>
            <nav class="a12">
                <li>
                    <a href="../templates/home.html">Home</a>
                </li>
            </nav>
        </div>
        <div class="a2">
            <div class="a21">
                <h3>Convenient</h3>
                <p class="text">
                    Just simply move your fingers and finish the questionnaire, the website can automatically find the right roommates for you!
                </p>
                <h3>Well-match</h3>
                <p class="text">
                    Using the advanced algorithm, you can meet the most suitable roommates using the website!
                </p>
                <h3>Timely feedback</h3>
                <p class="text">
                    Feedback will be given as soon as the data is collected and matched.
                </p>

            </div>
        </div>
        <div class="a3">
            <div class="a31">
                <p>to learn more<a href="#"> click me</a>, by <a href="Contact.html"> Team2</a>.</p>
            </div>
        </div>
    </div>
</body>
</html>