/* 网页底色 */
html,
body {
    height: 100%;
    background-color: #333;
}
body {
    color: #fff;
    text-align: center;
}

/* 链接（按钮）的颜色 */
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
/* 按钮按下的下划线效果 */
}
a:hover{
text-decoration: underline;
}

.text {
    font-size: 18px;
}

/* 最底层格子属性（覆盖整个页面） */
.a {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 0 0 100px rgb(0 0 0 / 50%);
}
/* 最上层格子的属性 */
.a1 {
    width: 700px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* Features的属性 */
.a11 {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* 导航栏属性 */
.a12 {
    width: 674px;
    height: 44.85px;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    list-style: none;
    box-sizing: border-box;
}

.a2 {
    width: 700px;
    height: 630px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.a21 {
    width: 500px;
    height: 450px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

/* 最下层格子属性 */
.a3 {
    width: 700px;
    height: 90px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}