<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>questionnaire</title>
    <link rel="stylesheet" href="../static/question.css">
</head>
<style>
    p input {
        height: 20px;
        width: 50px;
    }

</style>
<body>
<div class="a">
    <div class="a1">
        <h3 class="a11">Questions</h3>
        <nav class="a12">
            <li>
                <a href="home.html">Home</a>
            </li>
            <li>
                <a href="../templates/feature.html">Features</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
            <li>
                <a href="questionnaire(English).html">English</a>
            </li>
        </nav>
    </div>
    <div class="a2">
        <form action="/questionnaire" method="post" name="f" id="form1" onsubmit="return checkForm(this)">
            <div class="questionBox">
                <div class="key">
                    1.您的姓名：
                </div>
                <div class="key">
                    </label><input type="text" name="姓名">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    2.您的性别：
                </div>
                <div class="key">
                    <label for="2.1">男</label><input type="radio" value="男" name="性别" id="2.1">
                </div>
                <div class="key">
                    <label for="2.2">女</label><input type="radio" value="女" name="性别" id="2.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    3.您的作息习惯是：
                </div>
                <div class="key">
                    <label for="3.1">早睡早起</label><input type="radio" value="早睡早起" name="3" id="3.1">
                </div>
                <div class="key">
                    <label for="3.2">早睡晚起</label><input type="radio" value="早睡晚起" name="3" id="3.2">
                </div>
                <div class="key">
                    <label for="3.3">晚睡早起</label><input type="radio" value="晚睡早起" name="3" id="3.3">
                </div>
                <div class="key">
                    <label for="3.4">晚睡晚起</label><input type="radio" value="晚睡晚起" name="3" id="3.4">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    4.您的社交状态：
                </div>
                <div class="key">
                    <label for="4.1">社牛型</label><input type="radio" value="社牛型" name="4" id="4.1">
                </div>
                <div class="key">
                    <label for="4.2">社恐型</label><input type="radio" value="社恐型" name="4" id="4.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    5.您是否有洁癖？
                </div>
                <div class="key">
                    <label for="5.1">是</label><input type="radio" value="是" name="5" id="5.1">
                </div>
                <div class="key">
                    <label for="5.2">否</label><input type="radio" value="否" name="5" id="5.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    6.您是否每天洗澡？
                </div>
                <div class="key">
                    <label for="6.1">是</label><input type="radio" value="是" name="每天洗澡吗" id="6.1">
                </div>
                <div class="key">
                    <label for="6.2">否</label><input type="radio" value="否" name="每天洗澡吗" id="6.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    7.您是否每天洗衣服？
                </div>
                <div class="key">
                    <label for="7.1">是</label><input type="radio" value="是" name="每天洗衣服吗" id="7.1">
                </div>
                <div class="key">
                    <label for="7.2">否</label><input type="radio" value="否" name="每天洗衣服吗" id="7.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    8.您认为宿舍应该多久打扫一次？
                </div>
                <div class="key">
                    <label for="8.1">一天一次</label><input type="radio" value="一天一次" name="宿舍卫生" id="8.1">
                </div>
                <div class="key">
                    <label for="8.2">一周一次</label><input type="radio" value="一周一次" name="宿舍卫生" id="8.2">
                </div>
                <div class="key">
                    <label for="8.3">一个月以上</label><input type="radio" value="一个月以上" name="宿舍卫生" id="8.3">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    9.您是否能接受榴莲、螺狮粉等异味食品？
                </div>
                <div class="key">
                    <label for="9.1">是</label><input type="radio" value="是" name="9" id="9.1">
                </div>
                <div class="key">
                    <label for="9.2">否</label><input type="radio" value="否" name="9" id="9.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    10.您是否经常游玩电子游戏直到深夜？
                </div>
                <div class="key">
                    <label for="10.1">是</label><input type="radio" value="是" name="10" id="10.1">
                </div>
                <div class="key">
                    <label for="10.2">否</label><input type="radio" value="否" name="10" id="10.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    11.您是否能忍受宿舍内声音外放？
                </div>
                <div class="key">
                    <label for="11.1">是</label><input type="radio" value="是" name="手机外放" id="11.1">
                </div>
                <div class="key">
                    <label for="11.2">否</label><input type="radio" value="否" name="手机外放" id="11.2">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    12.夏天时您认为舒适的空调温度是？
                </div>
                <div class="key">
                    <label for="12.1">26度</label><input type="radio" value="26度" name="空调温度" id="12.1">
                </div>
                <div class="key">
                    <label for="12.2">小于22度</label><input type="radio" value="小于22度" name="空调温度" id="12.2">
                </div>
                <div class="key">
                    <label for="12.3">22度以上，26度以下</label><input type="radio" value="22度以上，26度以下" name="空调温度" id="12.3">
                </div>
            </div>
            <div class="questionBox">
                <div class="key">
                    13.您的兴趣爱好偏向？
                </div>
                <div class="key">
                    <label for="13.1">偏静型（看书、画画等）</label><input type="radio" value="偏静型（看书、画画等）" name="13" id="13.1">
                </div>
                <div class="key">
                    <label for="13.2">偏动型（体育运动等）</label><input type="radio" value="偏动型（体育运动等）" name="13" id="13.2">
                </div>
            </div>
            <div class="topic2">您更加在意以下的哪个方面:（在意程度1~15递增，默认在意程度为8）</div>
            <div style="clear:both"></div>
            <div class="questionBox">
                <p>作息时间规律 <input name="作息规律重视程度" type="text" value="8" id="15.3"></p><!-- 3-->
                <p>社交状态<input name="社交状态重视程度" type="text" value="8" id="15.4"></p>  <!-- 4-->
                <p>洁癖的程度<input name="洁癖程度" type="text" value="8" id="15.5"></p><!-- 5-->
                <p>个人卫生 <input name="个人卫生重视程度" type="text" value="8" id="15.6"></p> <!-- 6-7-->
                <p>宿舍卫生<input name="宿舍卫生重视程度" type="text" value="8" id="15.7"></p> <!-- 8-->
                <p>刺激性食物<input name="刺激性食物重视程度" type="text" value="8" id="15.8"></p><!-- 9-->
                <p>电子游戏<input name="电子游戏重视程度" type="text" value="8" id="15.9"></p> <!-- 10-->
                <p>声音外放<input name="声音外放重视程度" type="text" value="8" id="15.10"></p> <!-- 11-->
                <p>夏天空调温度<input name="夏天空调温度重视程度" type="text" value="8" id="15.11"></p> <!-- 12-->
                <p>兴趣爱好<input name="兴趣爱好重视程度" type="text" value="8" id="15.12"></p><!-- 13-->

            </div>


            <div class="confirmBox">
                <div class="key">
                    <input type="reset" value="重置" class="inKey">
                </div>
                <div class="key">
                    <input type="submit" value="提交" class="inKey">
                </div>
            </div>
        </form>
    </div>

    <div class="a3">
        <div class="a31">
            <p>to learn more<a href="#"> click me</a>, by <a href="#"> Team2</a>.</p>
        </div>
    </div>

</div>

<script type="text/javascript">
    function checkForm()
    {

        var v3 = parseInt(document.getElementById("15.3").value);
        var v4 = parseInt(document.getElementById("15.4").value);
        var v5 = parseInt(document.getElementById("15.5").value);
        var v6 = parseInt(document.getElementById("15.6").value);
        var v7 = parseInt(document.getElementById("15.7").value);
        var v8 = parseInt(document.getElementById("15.8").value);
        var v9 = parseInt(document.getElementById("15.9").value);
        var v10 = parseInt(document.getElementById("15.10").value);
        var v11 = parseInt(document.getElementById("15.11").value);
        var v12 = parseInt(document.getElementById("15.12").value);
        // var v11 = parseInt(document.getElementById("4.11").value);
        var estr = ""
        var total = v3+v4+v5+v6+v7+v8+v9+v10+v11+v12
        estr += "权重总计:" + total + "\n"
    if (v3+v4+v5+v6+v7+v8+v9+v10+v11+v12===100) {
        estr += "通过";
        alert(estr);
        return true
    } else{
        estr += "权重总数需要为100";
        alert(estr);
        return false
    }}

</script>






<script language="JavaScript">
    //Declare a commit method
    function tijiao() {
        //1 full name
        var namevalue = f.name.value;
        //2 gender
        var gendervalue = f.gender.value;
        //3 rest schedule
        var zuoxi = f.zuoxi.value;
        //4 social contact
        var shejiaovalue = f.shejiao.value;
        //5 mysophobia
        var jiepivalue = f.jiepi.value;
        //6 take a bath
        var xizaovalue = f.xizao.value;
        //7 do the laundry
        var yifuvalue = f.yifu.value;
        //8 sanitation
        var weisheng= f.weisheng.value;
        //9 Stimulating Food
        var cijivalue=f.ciji.value;
        //10 video games
        var youxivalue = f.youxi.value;
        //11 sound
        var shengyinvalue=f.shengyin.value;
        //12 Air conditioning
        var kongtiaovalue=f.kongtiao.value;
        //13 hobbies and interests
        var xingquvalue=f.xingqu.value;

        // degree of recognition


        var v3 = f.v3.value;
        var v4 = f.v4.value;
        var v5 = f.v5.value;
        var v6 = f.v6.value;
        var v8 = f.v8.value;
        var v9 = f.v9.value;
        var v10 = f.v10.value;
        var v11 = f.v11.value;
        var v12 = f.v12.value;
        var v12 = f.v12.value;
        var v13 = f.v13.value;


        //Once each value is obtained, it is passed through the framework
        //The XMLHttpRequest object is passed through the framework to exchange data with the server in the background

        url = 'http://127.0.0.1:5000/questionnaire'
        var request = new XMLHttpRequest()
        request.open('post', url, true)
        request.onload = function () {
            resp_text = request.responseText
            print(resp_text)
        }
        var formdata = new FormData()
        formdata.append('name', namevalue)
        formdata.append('gender', gendervalue)
        formdata.append('zuoxi', zuoxivalue)
        formdata.append('shejiao', shejiaovalue)
        formdata.append('jiepi', jiepivalue)
        formdata.append('xizao', xizaovalue)
        formdata.append('yifu', yifuvalue)
        formdata.append('ciji', cijivalue)
        formdata.append('weisheng', weishengvalue)
        formdata.append('youxi', youxivalue)
        formdata.append('shengyin', shengyinvalue)
        formdata.append('kongtiao', kongtiaovalue)
        formdata.append('xingqu', xingquvalue)


        formdata.append('v3', v3)
        formdata.append('v4', v4)
        formdata.append('v5', v5)
        formdata.append('v6', v6)
        formdata.append('v8', v8)
        formdata.append('v9', v9)
        formdata.append('v10', v10)
        formdata.append('v11', v11)
        formdata.append('v12', v12)
        formdata.append('v13', v13)



        request.send(formdata)

    }
</script>


</body>
</html>